*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 10px;
    background: #f5f5f586;
}

.container{
    width: 400px;
    background-color: blueviolet;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 25px;



}
 .container h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 4px solid #4caf50;
        padding: 20px 25px 20px 25px;
        font-weight: 500px;

 }

 .container .content {
    margin: 25px 20px 20px 25px;
 }

 .content .word {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
 }





